[submodule "src/code.cloudfoundry.org/guardian"]
	path = src/code.cloudfoundry.org/guardian
	url = https://github.com/cloudfoundry/guardian
	branch = master
[submodule "src/github.com/onsi/gomega"]
	path = src/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
	branch = master
[submodule "src/github.com/tedsuo/rata"]
	path = src/github.com/tedsuo/rata
	url = https://github.com/tedsuo/rata
	branch = master
[submodule "src/code.cloudfoundry.org/garden"]
	path = src/code.cloudfoundry.org/garden
	url = https://github.com/cloudfoundry/garden
	branch = master
[submodule "src/github.com/onsi/ginkgo"]
	path = src/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
	branch = master
[submodule "src/github.com/bmizerany/pat"]
	path = src/github.com/bmizerany/pat
	url = https://github.com/bmizerany/pat
	branch = master
[submodule "src/gopkg.in/yaml.v2"]
	path = src/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
	branch = v2
[submodule "src/code.cloudfoundry.org/lager"]
	path = src/code.cloudfoundry.org/lager
	url = https://github.com/cloudfoundry/lager
	branch = master
[submodule "src/code.cloudfoundry.org/garden-integration-tests"]
	path = src/code.cloudfoundry.org/garden-integration-tests
	url = https://github.com/cloudfoundry/garden-integration-tests
	branch = master
[submodule "src/github.com/golang/protobuf"]
	path = src/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
	branch = master
[submodule "src/code.cloudfoundry.org/grootfs"]
	path = src/code.cloudfoundry.org/grootfs
	url = https://github.com/cloudfoundry/grootfs
	branch = master
[submodule "src/github.com/containerd/containerd"]
	path = src/github.com/containerd/containerd
	url = https://github.com/containerd/containerd
	branch = master
[submodule "src/code.cloudfoundry.org/archiver"]
	path = src/code.cloudfoundry.org/archiver
	url = https://github.com/cloudfoundry/archiver
	branch = master
[submodule "src/github.com/opencontainers/runc"]
	path = src/github.com/opencontainers/runc
	url = https://github.com/opencontainers/runc
	branch = master
[submodule "src/code.cloudfoundry.org/idmapper"]
	path = src/code.cloudfoundry.org/idmapper
	url = https://github.com/cloudfoundry/idmapper
	branch = master
[submodule "src/code.cloudfoundry.org/netplugin-shim"]
	path = src/code.cloudfoundry.org/netplugin-shim
	url = https://github.com/cloudfoundry/netplugin-shim
	branch = master
