- type: replace
  path: /instance_groups/name=garden/jobs/-
  value:
   name: containerd
   release: garden-runc
   properties:
     garden:
       experimental_containerd_mode: true

- type: replace
  path: /instance_groups/name=garden/jobs/name=garden/properties/garden/experimental_containerd_mode?
  value: true
